*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

header #logo{
    width: 350px;
}

header ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 350px;
}

header ul li{
    border-right: 1px solid red;
    padding-right: 10px;
    margin-right: 10px;
}

header ul li a{
    text-decoration: none;
    color: red;
}

header ul li:last-child{
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
}

/*--------------------------*/

.box-beneficios{
    padding: 10px 150px;
    display: flex;
}

.sub{
    padding: 10px 140px;
    color: rgb(216, 30, 5)
}

.box-b{
    min-width: 200px;
    margin: 5px;
    background: yellow;
    height: 240px;
    overflow: hidden;
    background-size: cover;
    background-position: bottom;
}

.top-b{
    background-color: #D9D9D9;
    height: 60px;
    display: flex;
    align-items: center;
}

.top-b img{
    margin-left: 10px;
}

.bottom-b{
    background-color: rgba(216, 30, 5, 0.7);
    height: 100%;
}

.bottom-b h3{
    color: white;
    font-size: 100px;
}

/*---------------------*/

.clients-sec{
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
}

.art-cli{
    height: 720px;
    background-size: cover;
    background-position: bottom center;
}
.art-cli:before{
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
}

.franja-cli{
    margin-left: 0px;
    margin-top: 40px; 
    height: 160px;
    background-size: 100% auto;
    background-position: 0px 50%;
    background-color: rgba(216, 30, 5, 0.9); 
}

.franja-cli div:first-child{
    display: flex;
    align-items: center;
    height: 100%; 
    background-image: url(images/arrow-w.svg); 
    background-position: left;
    background-size: auto 100%; 
    background-repeat: no-repeat;
}

@media(max-width: 1300px){
   .franja-cli div:first-child{
    background-position: right;
} 
}
@media(max-width: 768px){
   .franja-cli div:first-child{
    background-position: left;
} 
}

.franja-cli div:first-child span{
    margin-left: 20px;
}

.franja-cli div:last-child{
    
}

.franja-cli div:last-child h3{
    color: white;
    font-size: 120px;
    margin-left: -30px;
}


/*------------------------------*/
.desc-cli{
    color: rgb(216, 30, 5);
}

.desc-cli h2{
    font-size: 3.2em;
    margin-left: 50px;
}
.desc-cli h3{
    font-size: 2.2em;
    margin-left: 50px;
}
.desc-cli p{
    margin-top: 28px;
    font-size: 1em;
    margin-left: 50px;
}
.desc-cli .line-1{
    width: 100%;
    border-bottom: 2px solid rgb(216, 30, 5);
    margin-top: 22px;
    margin-left: 50px;
}
.desc-cli table{
    margin-top: 45px;
    margin-left: 50px;
}
.desc-cli table tr{
    border-bottom: 1px solid rgb(216, 30, 5);
}
.desc-cli table td{
    padding: 10px 0px!important;
}
.desc-cli table ul{
    list-style: none;
    margin-bottom: 0px;
}

.desc-cli table .td-tit{
    width: 160px;
}








.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0px !important;
    padding-left: 0px !important;
}