body {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    font-family: Rubik, Open Sans, sans-serif;
    overflow: hidden;
}

#section-video {
    width: 100%;
    min-height: 200px;
    height: 200px;
    overflow-y: hidden;
    z-index: 0;
}



video {
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
}


/*.box-alpha{
    height: 80px;
    background: rgba(255,255,255,0);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(201,201,201,0) 21%, rgba(0,0,0,1) 100%);
    position: absolute;
    left: 0%;
    margin-top: 100%;
    width: 100vw;
    z-index: 99910;
}*/

div.video-controls {
    /*---------------- CONTENEDOR DE LOS CONTROLES ------*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
    margin-top: -50px;
    height: 50px;
    color: red;
    font-family: arial;
    z-index: 10;
    overflow: hidden;
    z-index: 99;
}

div.video-controls:before {
    content: "";
    height: 80px;
    width: 360px;
    background: rgba(255, 255, 255, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(21%, rgba(201, 201, 201, 0)), to(rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0) 21%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0) 21%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(201, 201, 201, 0) 21%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    margin-top: -30;
    z-index: -10;
}

.playback-duration {
    /*---------------- DURACION EN TEXTO ------*/
    vertical-align: middle;
    display: block;
    /*- display: block; -*/
    margin: auto;
    padding: 0px 3px 0px 10px;
    color: #74bf98;
    z-index: 99;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    z-index: 99;
}

button.material-icons {
    /*---------------- contenedores de botones ------*/
    background-color: rgba(0, 0, 0, 0);
    color: #74bf98;
    border: none;
    cursor: pointer;
    font-size: 30px;
    height: 100%;
    min-width: 40px;
    padding: 0px;
    z-index: 99;
}

/*---------------- BARRA DE PROGRESO ------*/
.progress-bar-parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99;
}

.progress-bar-background {
    height: 3px;
    background-color: #4f8053;
    border-radius: 25px;
    cursor: pointer;
    z-index: 99;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #74bf98;
    border-radius: 25px;
    -webkit-transition: 750ms;
    -o-transition: 750ms;
    transition: 750ms;
    z-index: 99;
}

/*----------------------------------------*/

#hoka {
    position: absolute;
    left: 0;
    z-index: 99;
    top: 200px;
    margin-top: -20px;
}

#point {
    position: relative;
    top: -8px;
    left: -3px;
    background-color: #74bf98;
    width: 7px;
    height: 7px;
    border-radius: 20px;
    -webkit-transition: 750ms;
    -o-transition: 750ms;
    transition: 750ms;
    z-index: 999;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }

    70% {
        -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }

    70% {
        -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

#ad-info {
    position: absolute;
    height: 56px;
    background: white;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: -70px;
    margin-top: -78px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    padding-right: 15px;
    visibility: hidden;
    font-family: Rubik, Open Sans, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: rgb(60, 60, 60);
    line-height: 18px;
    z-index: 99;
    cursor: pointer;
}

/* boton de infomacion progress bar */


#ad-info > button {
    border: none;
    background-color: #4667af;
    border-radius: 50px;
    color: white;
    margin-left: 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 8px 9px;
    cursor: pointer;
}


#ad-info > img {
    width: 56px;
    height: 56px;
    margin-right: 10px;
    border-radius: 100px;
}

/*----------------------------------*/


#side-shop {
    width: 100vw;
    min-width: 0vw;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: 750ms;
    -o-transition: 750ms;
    transition: 750ms;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    z-index: 3;
}

#side-shop > div > img {
    height: 130px;
    margin: 15px;
}


#side-shop > .close-side,
#side-shopD > .close-sideD {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: left;
}

#side-shop > .close-side > span,
#side-shopD > .close-sideD > span {
    margin: 10px 10px 0px 0px;
}

.cont-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cont-side h1,
.cont-side p,
.cont-side ul {
    margin: 0;
}

.cont-side h3 {
    font-weight: 100;
}

.cont-side ul {
    margin-bottom: 60px;
    line-height: 1.5;
    font-size: 1em;
}

.pd {
    padding: 0px 35px;
    font-family: Rubik, Open Sans, Helvetica Neue, arial, sans-serif;
    ;
}

#shopNow {
    position: relative;
    margin: -60px 0px 0px -95px;
    left: 50%;
    padding: 0px 45px;
    border-radius: 50px;
    border: none;
    height: 56px;
    width: 190px;
    background: #4667af;
    color: white;
    font-size: 1.2em;
    font-family: Rubik, Open Sans, sans-serif;
}

/*--------------------GHOST-----------------*/


#ghost {
    width: 360px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 750ms;
    -o-transition: 750ms;
    transition: 750ms;
}

#ghost img {
    width: 100px;
}

/*--------------------info movil--------------------*/

#info-Mobil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 360px;
    left: 0;
    height: 100%;
    top: 200px;
    z-index: 2;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

#info-Mobil h2 {
    margin-top: 40px;
    font-size: 1.55sem;
    text-decoration: underline;
}





#side-shopD {
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 12;
    height: 100vh;
    width: 0vw;
    background-color: white;
    -webkit-transition: 750ms;
    -o-transition: 750ms;
    transition: 750ms;
}

#side-shopD > div > img {
    height: 170px;
    margin-bottom: 15px;
}



#side-shopD #shopNowD {
    width: 100%;
    border: none;
    height: 56px;
    background: #4667af;
    color: white;
    font-size: 1.2em;
    font-family: Rubik, Open Sans, sans-serif;
    position: fixed;
    top: 100vh;
    margin-top: -56px;
}


