
//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #485cc7;

$link-color: 					#485cc7;

$link-focus-color: 				#485cc7;

