/*-- preguntas --*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,700;0,800;0,900;1,100;1,200;1,700;1,800;1,900&display=swap');

*{margin:0px; padding: 0px;}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --all: white;
  --font: helvetica;
}

body{
    background-color: white;
    background-size: auto 100%;
    cursor: crosshair;
    overflow: hidden !important;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#box-pc{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.no-view{
    margin-left: -30px;
    transition-duration: 0.5s;
    opacity: 0;
}

.respuestas .no-view p{
    font-size: 74px;
}


.respuestas div p{
    font-family: var(--font), sans-serif;
    font-weight: 800;
    color: var(--all);
    margin-left: 20px;
}

.no-view-fin{
    zoom: 100% !important;
    margin-left: 0px !important;
    opacity: 0 !important;
    transition-duration: 0.5s !important;
}

.none-v{
    display: none;
}

.view{
    zoom: 100%;
    margin-left: -0px;
    opacity: 1;
    transition-duration: 0.7s;
    border-radius: 35px;
    font-size: 1em;
}

.respuestas .view p{
    font-size: 60px !important;
}

.pregunta{
    color: var(--all);
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pregunta h3{
    font-size: 70px;
    font-family: var(--font), sans-serif;
    font-weight: 900 !important;
    color: var(--all);
    text-transform: uppercase;
    font-weight: 700;
    padding: 0px 150px;
    text-align: center;
}

.respuestas{
    height: auto;
    width: 1024px;
    margin-left: 0%;
}

.respuestas div{
    display: flex;
    align-items: center;
    height: 170px;
}

.respuestas div img{
    width: 150px;
}

.respuestas div p{
    font-family: var(--font), sans-serif;
    font-weight: 800;
    color: var(--all);
    margin-left: 20px;
    margin-top: 40px;
    line-height: 1.2em;
}

.btns{
    position: absolute;
    width: 100%;
    top: 100vh;
    display: flex;
    justify-content: space-between
}

.btns div{
    width: 32px;
    height: 32px;
    margin-top: -32px;
    background-color: #69a428;
}

.win-p{
    position: absolute;
    font-size: 88px;
    top: 42%;
    padding: 10px 50px;
    box-shadow: 0  0 30px rgba(0, 255, 0, 1);
    animation: pulse-animation 2s infinite;
}


@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 255, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(0, 255, 0, 0);
  }
}

@keyframes locacion {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 200px rgba(0, 255, 255, 0);
  }
}

#videoBackground{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    display: none;
}
