@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{margin:0px; padding: 0px;}

body{
    background-color: white;
    background-size: auto 100%;
}

#box-pc{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}



#respuestas-pc{
    height: 100vh;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket{
    width: 380px;
    height: 400px;
    border-radius: 20px;
    font-size: 14px;
    background-image: url(images/Noticia-cuadro.png);
    background-size: cover;
    background-position: top;
    padding: 42px 0px;
    position: absolute;
    top: 50%;
    margin-top: -240px;
    margin-left: 80px;
    z-index: 2; 
    zoom: 140%;
}

.ticket h3{
    width: 320px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 10px 0 24px 32px;
    font-size: 2em;
    text-transform: uppercase;
}

.ticket ul{
    list-style: none;
}

.ticket ul li{
    width: 88%;
    margin-left: 6%;
}

.ticket ul button{
    display: flex;
    margin: 26px 0px 42px 0px;
    align-items: center;
    padding: 0px 10px 0px 0px;
    border-radius: 5px;
    border: none;
    color: black;
    border-style: none
}

.ticket ul button:active{
    border: none;
}

.ticket ul li:nth-child(1) button, .ticket ul li:nth-child(3) button{
    background-color: rgba(255, 0, 255, 0.15);
}

.ticket ul li:nth-child(2) button, .ticket ul li:nth-child(4) button{
    background-color: rgba(0, 0, 255, 0.15);
}

.ticket ul li img{
    width: 80px;
    margin-top: -12px; 
    position: absolute;
}

.ticket ul li p{
    margin-left: 85px;
    font-family: 'Oswald', sans-serif;
    text-align: start;
    font-weight: 500;
    line-height: 1.5em;
    font-size: 1em;
    text-transform: uppercase;
    padding: 2px 0px;
    zoom: 96.4%;
}


/*-- DATOS DE CONTACTO --*/

.ticket h4{
   
    width: 320px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 10px 0 24px 32px;
    font-size: 2em;
    text-transform: uppercase;
}

.datos{
    padding: 0px 32px;
    margin-bottom: 12px;
}

.datos p{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: rgb(90, 90, 90);
    font-size: 1.1em;
}

.datos input{
    border: none;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 5px 5px;
    width: 100%
}

.datos-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.datos-btn button{
    border: none;
    margin-top: 10px;
    background-color: #00d100;
    font-family: 'Oswald', sans-serif;
    padding: 0px 16px 5px 16px;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
}

/*-- CLIENTES --*/

.ticket-box{
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.ticket-box h4{
    font-size: 2.4em;
    font-weight: 500;
    line-height: 1.3em;
}

.cupon{
    margin-top: 40px;
    height: 150px;
}

.cupon p{
    margin-top: -100px;
    text-align: center;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2.2em;
}

.cupon img{
    width: 280px;
    margin-top: -48px;
    margin-left: -17px;
}

.retornar-rrss{
    width: 100%;
    display: flex;
    justify-content: center;
}

.retornar-c{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 18px 0 5px 0;
}

.retornar-rrss img{
    width: 50px;
    margin: 0 22px;
}


.respuestas-box{
    display: none;
}

.datos-box{
    display: none;
}

.ticket-box{
    display: none;
}

.view-block{
    display: block !important;
}

.view-flex{
    display: flex !important;
}

.view-none{
    display: none !important;
}

.clientes.desktop{
    height: 100%;
    display: flex;
    align-items: center;
}

.clientes.movil{
    display: none;
}

.carrusel {
    display: flex; 
    align-items: center;
}


@media(max-width: 768px){
    .ticket{
    top: 0%;
    left: 50%;    
    margin-top: 50px;
    margin-left: -190px;
    zoom: 100%;
}
    
    .ticket ul li p{
    font-size: 1.2em;
    zoom: 100%;
}
    
    .datos-box{
        font-size: 18px;
    }
    
    .datos-box input{
        font-size: 1em;
    }
    
    .clientes.desktop{
        display: none;
    }
  
    .clientes.movil{
        height: 100vh;
        display: flex;
        align-items: flex-end;
    }
    
    
    
})