/*-- preguntas --*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{margin:0px; padding: 0px;}

body{
    background-color: white;
    background-size: auto 100%;
    cursor: crosshair
}

#box-pc{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.no-view{
    zoom: 120%;
    margin-left: -30px;
    opacity: 0;
    transition-duration: 0.5s;
}

.no-view-fin{
    zoom: 100% !important;
    margin-left: 0px !important;
    opacity: 0 !important;
    transition-duration: 0.5s !important;
}

.none-v{
    display: none;
}

.view{
    zoom: 100%;
    margin-left: -0px;
    opacity: 1;
    transition-duration: 0.7s;
    border-radius: 35px;
}

.pregunta{
    color: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pregunta h3{
    font-size: 4em;
    font-family: helvetica;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0px 150px;
    text-align: center;
}

.respuestas{
    height: 540px;
    width: 768px;
    font-family: Helvetica;
    font-weight: 700;
    margin-left: 0%;
}

.respuestas div{
    display: flex;
    align-items: center;
    height: 120px;
    margin-bottom: 20px;
}

.respuestas div img{
    width: 140px;
}

.respuestas div p{
    color: white;
    font-size: 3.2em;
    margin-left: 20px;
}

.btns{
    position: absolute;
    width: 100%;
    top: 100vh;
    display: flex;
    justify-content: space-between
}

.btns div{
    width: 32px;
    height: 32px;
    margin-top: -32px;
    background-color: #69a428;
}

.win-p{
    position: absolute;
    height: 120px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -60px;
    zoom: 150%;
    box-shadow: 0  0 30px rgba(0, 255, 0, 1);
    border-radius: 35px;
    animation: pulse-animation 2s infinite;
}



@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 255, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(0, 255, 0, 0);
  }
}

@keyframes locacion {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 200px rgba(0, 255, 255, 0);
  }
}